<b>Lookup By City & State</b>
<p></p>
<form method="POST" action="/city"> <!-- Form action and method-->
	
	<table>	
  <tr>
	 <td valign="top">
	  <label for="city">City:</label> <!-- Field-->
	 </td>
	 <td valign="top">
	  <input  type="text" name="city" size="30" required>
	 </td>
  </tr>
  <tr>
	 <td valign="top">
	  <label for="state">State:</label> <!-- Field-->
	 </td>
	 <td valign="top">
	  <input  type="text" name="state" size="10" required>
	 </td>
  </tr>
  <tr>
 	 <td colspan="2">
  	<input type="submit" value="Submit" width="100"/> <!-- submit button -->
   </td>
  </tr>
 </table>

</form>