<b>Lookup By Zip Code</b>
<p></p>
<form method="POST" action="/zip"><!-- Form action and method-->
    <label for="id">Zip Code:</label><!-- Field-->
    <input type="text" id="id" name="id" size="30" required>
    <p></p>
    <input type="submit" value="Submit">
</form>